@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/*Welcome Stuff*/
#convay-welcome {
    position:absolute;
    bottom:0;
    right:19px;
    width:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#42776C;
    color:white;
    border:2px solid white;
    z-index:999999;
    max-height:80vh;
    overflow:auto;
    padding:10px;
}
.convay-welcome-title {
    font-size:140%;
    font-weight:bold;
}
#convay-welcome > div {
    margin:15px;
}
#convay-welcome a {
    color:white;
    text-decoration:underline;
    font-weight:bold;
}
#welcome-okay {
    display:inline-block;
    height:40px;
    padding:0 20px;
    background-color: white;
    color:#42776C;
    text-align:center;
    font-size:24px;
    line-height:24px;
    cursor:pointer;
}


/* Convay Container CSS */
#convay-container {
    position:absolute;
    right:5px;
    min-width:300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid #ffffff;
    margin: 1%;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#convay-container.collapsed {
    opacity: .5;
    width:auto;
    min-width:0;
}
#convay-container.collapsed > *, #convay-container.collapsed .convay-options-gear {
    display:none !important;
}
#convay-container.collapsed > .convay-top {
    display:block !important;
    padding:0 10px;
}

/* Hide/Show Feedback */
#convay-container .hide-feedback, #convay-container .show-feedback .convay-container-drag{
    display:flex;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

.show-feedback{
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

.show-feedback:hover {
    cursor:pointer;
    border:1px solid #0066da;
    border-radius: 100px;
    background-color: #0066da;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

#convay-container .hide-feedback {
    display:none;
}
#convay-container.show_feedback .hide-feedback {
    display: block; 
    margin: 0 auto;
}

.hide-feedback:hover {
    cursor:pointer;
    border:1px solid #0066da;
    border-radius: 100px;
    background-color: #0066da;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}
/*Hides feedback button when clicked, just shows hide feedback button*/
#convay-container.show_feedback .show-feedback {
    display:none;
}
.feedback-container {
    display:none;
}
#convay-container.show_feedback .feedback-container {
    display:block;
}

/* Hide/Show Groups*/ 
#convay-container .convay-hide-groups, #convay-container .convay-show-groups .convay-container-drag{
    display:inline-block;
    cursor:pointer;
    border:1px solid #1A73E8;
    border-radius: 10px;
    background-color: #1A73E8;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 3%;
}
#convay-container .convay-hide-groups {
    display:none;
}
#convay-container.show_groups .convay-hide-groups {
    display:inline-block;
}
#convay-container.show_groups .convay-show-groups {
    display:none;
}
.convay-group-selector-container {
    display:none;
}
#convay-container.show_groups .convay-group-selector-container {
    display:block;
}

/* Show/Hide reactions */
#convay-container .hide-reactions, #convay-container .show-reactions .convay-container-drag{
    display:inline-block;
    display:inline-block;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.show-reactions{
    display:inline-block;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#convay-container .hide-reactions {
    display:none;
}
#convay-container.show_reactions .hide-reactions {
    display:inline-block;
}
#convay-container.show_reactions .show-reactions {
    display:none;
}
.reactions-list-container {
    display:none;
}
#convay-container.show_reactions .reactions-list-container {
    display:inline-block;
    vertical-align:text-top;
    cursor:pointer;
    font-size:1.3em;
}

/* General */

#feedback-head {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.container-feedback {
    background-color:#ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: block; 
    margin: 0 auto;
}

.convay-top {
    background-color:#ffffff;
    padding-top:5%;
    cursor:pointer;
}
.convay-title {
    color:#00832d;
    font-size:4em;
    font-weight:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.convay-header {
    background-color: #ffffff;
    padding:5%;
}
.convay-summary {
    color:#000000;
    text-transform:uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight:500;
    border: 1px solid #00ac47;
    border-radius: 2em;
    background-color:#00ac47;
    margin-bottom: 1em;
    text-align: center;
}
.convay-body {
    background-color:#ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.convay-interruption-summary {
    border:0.3em solid #ffa200;
    background-color:#ffa200;
    border-radius: 2em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
}

.convay-table {
    border:none;  
}

.table-head {
    font-size: 1.4em;
    margin-top: 1em;
    font-weight: bold;
}

.convay-table td {
    padding:0.2em;
    border:none;
    white-space:nowrap;
    font-size: 1.2em;
}
td.convay-time, td.convay-pct {
    padding:0 2px;
    text-align:right;
}
.convay-table td.convay-time {
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em;
}
.convay-table td.convay-pct {
    border-radius: 1px;
}

.convay-table tr.talking td.convay-time {
    background-color: #2684fc;
    border-radius:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em;
}

.convay-group-selector,.convay-group-label {
    display:inline-block;
    height:14px;
    border-radius:7px;
    text-align:center;
    line-height:14px;
    cursor:pointer;
}
.convay-group-label {
    display:inline-block;
    min-width:24px;
    width:auto;
    padding:0 4px;
}
.convay-group-selector {
    width:24px;
    cursor:pointer;
    background-color:#eee;
    border:1px solid #ddd;
    color:#999;
}
.convay-group-selector.selected, .convay-group-label {
    background-color:#666;
    border:1px solid #333;
    color:white;
}

.convay-group-table {
    display:none;
}

/* Interruption Notification CSS */

.hide {
    display:none !important;
}

#notification-container {
    position:absolute;
    left:5px;
    min-width:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:10px solid #ffba00;
    background-color:#ffba00;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 2%;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:100%;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: bold;
}


#sili-container {
    position:absolute;
    left:5px;
    min-width:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:10px solid #e94235;
    background-color:#e94235;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 2%;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:100%;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: bold;
}


