@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/*Welcome Stuff*/
#convay-welcome {
    position:absolute;
    bottom:0;
    right:19px;
    width:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:white;
    color:black;
    border:2px solid 00832d;
    z-index:999999;
    max-height:80vh;
    overflow:auto;
    padding:10px;
}
.convay-welcome-title {
    font-size:140%;
    font-weight:bold;
}
#convay-welcome > div {
    margin:15px;
}
#convay-welcome a {
    color:black;
    text-decoration:underline;
    font-weight:bold;
}
#welcome-okay {
    display:inline-block;
    height:40px;
    padding:0 20px;
    background-color: white;
    color:#00ac47;
    text-align:center;
    font-size:24px;
    line-height:24px;
    cursor:pointer;
}


/* Convay Container CSS */
#convay-container {
    position:absolute;
    right:5px;
    min-width:350px;
    max-width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid #ffffff;
    border-bottom: 1em solid #ffffff;
    margin: 1%;
    z-index:99999;
    max-height:50em;
    overflow-y:auto;
    font-size:100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#convay-container.collapsed {
    opacity: .5;
    width:auto;
    min-width:0;
}
#convay-container.collapsed > *, #convay-container.collapsed .convay-options-gear {
    display:none !important;
}
#convay-container.collapsed > .convay-top {
    display:block !important;
    padding:0 10px;
}

/*Help Section*/
#convay-container .hide-help, #convay-container .show-help .convay-container-drag{
    display:flex;
    cursor:pointer;
    display: block; 
    text-align: right;
    padding-right: 1.5em;
    background-color: white;
}

.show-help{
    cursor:pointer;
    display: block; 
    text-align: right;
    padding-right: 1.5em;
    background-color: white;
}

.show-help:hover {
    cursor:pointer;
    display: block; 
    margin: 0 auto;
    color:#0066da;
    background-color: white;
}

#convay-container .hide-help {
    display:none;
}
#convay-container.show_help .hide-help {
    display: block; 
    margin: 0 auto;
}

.hide-help:hover {
    cursor:pointer;
    display: block; 
    margin: 0 auto;
    color:#0066da;
}
/*Hides feedback button when clicked, just shows hide feedback button*/
#convay-container.show_help .show-help {
    display:none;
}
.help-content {
    display:none;
}
#convay-container.show_help .help-content {
    display:block;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ans {
    font-size: 0.9em;
}

#faq {
    font-size: 1em;
    padding-top: 0.1em;
}


/* Hide/Show Feedback */
#convay-container .hide-feedback, #convay-container .show-feedback .convay-container-drag{
    display:flex;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

.show-feedback{
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

.show-feedback:hover {
    cursor:pointer;
    border:1px solid #0066da;
    border-radius: 100px;
    background-color: #0066da;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}

#convay-container .hide-feedback {
    display:none;
}
#convay-container.show_feedback .hide-feedback {
    display: block; 
    margin: 0 auto;
}

.hide-feedback:hover {
    cursor:pointer;
    border:1px solid #0066da !important;
    border-radius: 100px;
    background-color: #0066da  !important;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
}
/*Hides feedback button when clicked, just shows hide feedback button*/
#convay-container.show_feedback .show-feedback {
    display:none;
}
.feedback-container {
    display:none;
}
#convay-container.show_feedback .feedback-container {
    display:block;
}

/* Hide/Show Groups*/ 
#convay-container .convay-hide-groups, #convay-container .convay-show-groups .convay-container-drag{
    display:inline-block;
    cursor:pointer;
    border:1px solid #1A73E8;
    border-radius: 10px;
    background-color: #1A73E8;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 3%;
}
#convay-container .convay-hide-groups {
    display:none;
}
#convay-container.show_groups .convay-hide-groups {
    display:inline-block;
}
#convay-container.show_groups .convay-show-groups {
    display:none;
}
.convay-group-selector-container {
    display:none;
}
#convay-container.show_groups .convay-group-selector-container {
    display:block;
}

/* Hide/Show Personal Feedback */
#convay-container .hide-personal, #convay-container .show-personal .convay-container-drag{
    display:flex;
    cursor:pointer;
    border:1px solid #ffba00;
    border-radius: 100px;
    background-color: #ffba00;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}

.hide-personal:hover {
    cursor:pointer;
    border:1px solid #a17600 !important;
    border-radius: 100px;
    background-color: #a17600 !important;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}

.show-personal {
    cursor:pointer;
    border:1px solid #e94235;
    border-radius: 100px;
    background-color: #e94235;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}

.show-personal:hover {
    cursor:pointer;
    border:1px solid #a83027;
    border-radius: 100px;
    background-color: #a83027;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}

#convay-container .hide-personal {
    display:none;
}
#convay-container.show_personal .hide-personal {
    display: block; 
    margin: 0 auto;
    
}

/*Personal Feedback CSS*/

.personal-feed {
    display: inline-block;
    text-align: center;
}

.personal-container {
    display: inline-block;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    margin-top: 1em;
}

.p-welcome {
    display: inline-block;
    overflow: wrap;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.p-score-feedback {
    display: inline-block;
    overflow: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    margin-top: 1em;
}

.p-score {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border:5px solid #2684fc;
    background-color: #2684fc;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*Download button*/
.download-button {
    display:flex;
    cursor:pointer;
    font-size: 0.7em;
    border:1px solid #00ac47;
    border-radius: 100px;
    background-color: #00ac47;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}

.download-button:hover {
    cursor:pointer;
    font-size: 0.7em;
    border:1px solid #00832d !important;
    border-radius: 100px;
    background-color: #00832d !important;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block; 
    margin: 0 auto;
    margin-top: 2em !important;
}



/*Hides end of call button when clicked, just shows return button*/
#convay-container.show_personal .show-personal {
    display:none;
}
.personal-feed {
    display:none;
}
#convay-container.show_personal .personal-feed {
    display:block;
}

/* Show/Hide reactions */
#convay-container .hide-reactions, #convay-container .show-reactions .convay-container-drag{
    display:inline-block;
    display:inline-block;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.show-reactions{
    display:inline-block;
    cursor:pointer;
    border:1px solid #2684fc;
    border-radius: 100px;
    background-color: #2684fc;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#convay-container .hide-reactions {
    display:none;
}
#convay-container.show_reactions .hide-reactions {
    display:inline-block;
}
#convay-container.show_reactions .show-reactions {
    display:none;
}
.reactions-list-container {
    display:none;
}
#convay-container.show_reactions .reactions-list-container {
    display:inline-block;
    vertical-align:text-top;
    cursor:pointer;
    font-size:1.3em;
}

/* General */

#feedback-head {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.container-feedback {
    background-color:#ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: block; 
    margin: 0 auto;
}

.convay-top {
    background-color:#ffffff;
    padding-top:5%;
    cursor:pointer;
    padding-bottom: 2%;
}
.convay-title {
    color:#00832d;
    font-size:4em;
    font-weight:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.convay-header {
    background-color: #ffffff;
    padding:5%;
}
.convay-summary {
    color:#000000;
    text-transform:uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight:500;
    border: 1px solid #00ac47;
    border-radius: 2em;
    background-color:#00ac47;
    margin-bottom: 1em;
    text-align: center;
}
.convay-body {
    background-color:#ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.convay-interruption-summary {
    border:0.3em solid #ffa200;
    background-color:#ffa200;
    border-radius: 2em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
}

.convay-table {
    border:none;  
}

.table-head {
    font-size: 1.4em;
    margin-top: 1em;
    font-weight: bold;
}

.convay-table td {
    padding:0.2em;
    border:none;
    white-space:nowrap;
    font-size: 1.2em;
}
td.convay-time, td.convay-pct {
    padding:0 2px;
    text-align:right;
}
.convay-table td.convay-time {
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em;
}
.convay-table td.convay-pct {
    border-radius: 1px;
}

.convay-table tr.talking td.convay-time {
    background-color: #2684fc;
    border-radius:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1em;
}

.convay-group-selector,.convay-group-label {
    display:inline-block;
    height:14px;
    border-radius:7px;
    text-align:center;
    line-height:14px;
    cursor:pointer;
}
.convay-group-label {
    display:inline-block;
    min-width:24px;
    width:auto;
    padding:0 4px;
}
.convay-group-selector {
    width:24px;
    cursor:pointer;
    background-color:#eee;
    border:1px solid #ddd;
    color:#999;
}
.convay-group-selector.selected, .convay-group-label {
    background-color:#666;
    border:1px solid #333;
    color:white;
}

.convay-group-table {
    display:none;
}

/* Interruption Notification CSS */

.hide {
    display:none !important;
}

#notification-container {
    position:absolute;
    left:5px;
    min-width:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:10px solid #ffba00;
    background-color:#ffba00;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 2%;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:100%;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: bold;
}


#soli-container {
    position:absolute;
    left:5px;
    min-width:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:10px solid #e94235;
    background-color:#e94235;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 2%;
    z-index:99999;
    max-height:600px;
    overflow-y:auto;
    font-size:100%;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: bold;
}


